
<div class="container">

  <nav class="items">



    <button > <a class="button" href="/class_times/<%=@class_time.id%>/update">Update</a> </button>

    <form method="post" action="/class_times/<%=@class_time.id%>/delete">

      <input class="button" type="submit"  value="Delete class time"/>
    </form>



    <% if @class_time.status == "active" %>
    <form action="/class_times/<%=@class_time.id%>/book/">
      <button class="button" type="submit"> Book a class </button>
    </form>
    <%else%>

    <h2> Sorry Class is Inactive </h2>
    <%end %>
 </nav>

 <nav class="items">


    <p> Memebers booked for our <%= @class_time.time %>  <%= @class_time.activity %> class </p>

    <%for booking in @bookings %>

     <p> <%= booking.customer.pretty_name %> </p>

     <form  method="post" action="/class_times/<%=booking.id%>/booking/delete">

       <input class="button" type="submit"  value="Delete booking"/>
     </form>

     <%end %>


  </nav>

</div>
