<h1> Classes we offer </h1>

<div class="container">


<table class="items">
  <tr>
    <th>Activity</th>
    <th>Instructor</th>
    <th>Type</th>
    <th>Intensity</th>

    <th>  </th>
     <th>  </th>
  </tr>
  <% for gym in @gym_classes %>
  <tr>
    <td><%= gym.activity %>  </td>
    <td><%= gym.instructor.name %> </td>
    <td><%= gym.type %></td>
    <td><%= gym.intensity %></td>

  <td>  <form method="post" action="/classes/<%=gym.id%>/delete">

      <input  type="submit"  value="Delete class"/>
    </form>
    </td>
    <td>


<button ><a href="/classes/<%=gym.id%>/update"> Update class</a> </button>



   </td>
</tr



  <% end %>
  <form action="/classes/new">
            <button class="button" type="submit">Add class</button>
         </form>
</table>
<nav class="items">


     <img src="../personal trainers.png" alt="gym class" width="350px" height="300px">


</nav>

</div>
