<h1> A list of all our classes </h1>

<table>
  <tr>
    <th>Activity</th>
    <th>Day</th>
    <th>Time</th>
    <th>Spaces Remaining</th>


  </tr>
  <% for class_time in @class_times %>
  <tr>
    <td><a href="/classes/<%=class_time.id%>"><%= class_time.activity%></a>  </td>
    <td><%= class_time.date  %></td>
    <td><%= class_time.time  %></td>
    <td><%= class_time.capacity  %></td>

</tr
  <% end %>
</table>
