<h1> Classes we offer </h1>


<table class="container">
  <tr>
    <th>Activity</th>
    <th>Instructor</th>
    <th>Type</th>
    <th>Intensity</th>
    <th>Status</th>
    <th>  </th>
     <th>  </th>
  </tr>
  <% for gym in @gym_classes %>
  <tr>
    <td><%= gym.activity %>  </td>
    <td><%= gym.instructor.name %> </td>
    <td><%= gym.type %></td>
    <td><%= gym.intensity %></td>
    <td><%= gym.status %></td>
  <td>  <form method="post" action="/classes/<%=gym.id%>/delete">

      <input class="button" type="submit"  value="Delete class"/>
    </form>
    </td>
    <td>
  <form method="get" action="/classes/<%=gym.id%>/update">

  <input class="button" type="submit"  value=" Update class"/>
</form>


   </td>
</tr



  <% end %>
</table>

<form action="/classes/new">
          <button class="button" type="submit">Add class</button>
       </form>
