<h1> A list of all our classes </h1>

<table>
  <tr>
    <th>Activity</th>
    <th>Instructor</th>
    <th>Type</th>
    <th>Spaces Remaining</th>
    <th>Intensity</th>
    <!-- <th>Type</th> -->
  </tr>
  <% for gym_class in @gym_classes %>
  <tr>
    <td><a href="/classes/<%= gym_class.id %>"><%= gym_class.activity %></a></td>
    <td><%= gym_class.times %></td>
    <td><%= gym_class.type %></td>
    <td> </td>
    <td><%= gym_class.intensity %></td>
  </tr>
  <% end %>
</table>
