<h1> Edit this class</h1>

<div class="container">




   <form class="form" method="post" action="/classes/<%=@gym_class.id%>">
<nav class="items">
  <label for="instructor_id"> Instructor: </label>
  <select id="instructor_id"  name="instructor_id"  value= "<%= @gym_class.instructor_id %> ">
      <% for instructor in @instructors %>
      <option value= "<%=instructor.id%>" > <%=instructor.name%></option>
  <% end %>
  </select>

</nav>
<nav class="items">

  <label for="activity"  Name: </label>
  <input id="activity" value="<%=@gym_class.activity%>" type="text" name="activity" >

    <label for="type">Type:</label>
    <select name="type" value ="<%= @gym_class.type %>" >
      <option >Off Peak </option>
      <option >Peak</option>
    </select>
</nav>
<nav class="items">
    <label for="intensity">Intensity:</label>
    <select name="intensity" value="<%= @gym_class.intensity%>" >
      <option >Low impact</option>
       <option >Medium impact</option>
      <option >High impact</option>
    </select>




    <input type="submit"  value="Update Class">
      <hr />
    </nav>
   </form>
</div>
