<form class="form" method="post" action="/customers/<%=@customer.id%>/book">
 <label for="gym_class"> Name: </label>

 <select id="customer_id"  name="customer_id" >
     <option value= "<%=@customer.id%>" > <%=@customer.pretty_name%></option>
 </select>

 <select id="class_id"  name="class_id" >
   <% for class_time in @class_times %>

<%return %>
     <option value= " <%=class_time.class_id%> %>"  > <%=class_time.activity%></option>


 </select>

 <select id="class_time_id"  name="class_time_id" >
 <%return %>
     <option value=" <%=class_time.id%>"> <%=class_time.date%></option>

<% end %>
 </select>

 <input type="submit"  value="Submit Your update">
   <hr />
</form>
