<h1> Customer Profile</h1>

<div class="containers">
<table class="items">
  <tr>
    <th>Name:</th>
    <th>Membership:</th>
    <th>Status: </th>
  </tr>

  <tr>
    <td><%=@customer.pretty_name %></td>
    <td><%= @customer.membership %></td>
    <td><%= @customer.status %></td>

  </tr>


  <table/>


<button class="button"> <a href="/customers/<%=@customer.id%>/update">Update customer</a> </button>



<form class="items" method="post" action="/customers/<%=@customer.id%>/delete">

  <input class="button" type="submit"  value="Delete customer"/>

</form>


</div>
