<h1> Customer Profile</h1>


<table class="container">
  <tr>
    <th>Name:</th>
    <th>Membership:</th>
    <th>Status: </th>
  </tr>

  <tr>
    <td><%=@customer.pretty_name %></td>
    <td><%= @customer.membership %></td>
    <td><%= @customer.status %></td>

  </tr>


  <table/>

  <form method="get" action="/customers/<%=@customer.id%>/update">

  <input class="button" type="submit"  value=" Update customer"/>
</form>


</form>
<form method="post" action="/customers/<%=@customer.id%>/delete">

  <input class="button" type="submit"  value="Delete customer"/>
</form>
